VITE_SUPABASE_URL=https://[PROJECT_LINK].supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_key
PORT=3001
CLIENT_URL=http://localhost:5173
MAL_CLIENT_ID=your_mal_client_id_here
MAL_CLIENT_SECRET=your_mal_client_secret_here